# put this in s3 or ferrothorn, dummy
.terraform.lock.hcl

**/.terraform/**

*.tfstate
secret.tfvars
tfplan

aviary-inventory/hosts/**
.secret_*

# nix build symlinks + the AMI-build metadata Terraform generates
result
result-*
ami-image.json
